.texto-verde{
    color: rgb(97, 201, 77);
    font-size: 16px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
#paragrafo-basico{
    color: aqua;
    font-size: 15px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.texto-azul{
    color: rgb(22, 48, 194);
    font-size: 16px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: yellow;
}

h1{
    margin: 45px 40px 10px 50px;
    border-top: 5px solid;
    border-right: 10px solid;
    border-bottom: 8px solid; 
    border-left: 20px solid;
    padding: 15px 30px 10px 30px;
}